:root {
  --bg-primary: #8e9aaf;
  --bg-secondary: #eff1ff;
  --ff-text: "Palanquin", sans-serif;
  --ff-heading: "Staatliches", cursive;
  --bg-overtext: #feeafa;
  font-size: 62.5%;
}

body {
  background-color: var(--bg-secondary);
}

.page {
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: var(--bg-primary);
  height: 31rem;
}

header img {
  padding: 3.2rem 0;
}

header p {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-family: var(--ff-heading);
  background-color: #cbc0d3;
  padding: 0.8rem 8.6rem;
  letter-spacing: 0.8px;
  font-size: 4rem;
  color: #ffffff;
  height: 5rem;
}

main {
  padding-bottom: 6rem;
  animation: down2up 700ms;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.quebra p {
  text-align: center;
  line-height: 1.8rem;
  font-family: var(--ff-text);
  font-size: 1.5rem;
  color: #23053a;
  margin: 4.3rem 0 6.3rem;
  padding: 0 2.5rem;
  animation: up2down 700ms 100ms backwards;
}

.card {
  position: relative;
}

.card h2 {
  position: absolute;
  background-color: var(--bg-overtext);
  border-radius: 2rem;
  font-family: var(--ff-heading);
  color: #4a4e69;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.05em;
  padding: 0 2.4rem;
  top: 1.6rem;
  right: 1.6rem;
  animation: up2down 700ms 350ms backwards;
}

footer {
  display: none;
}

.willhide {
  display: none;
}

@keyframes down2up {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes up2down {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1100px) {
  .page {
    display: flex;
    flex-direction: row;
  }

  header {
    width: 37.7rem;
  }

  aside {
    background-color: var(--bg-primary);
  }

  main {
    display: grid;
    grid-template-areas:
      "A B E"
      "D B F"
      "D C F";
    gap: 3.2rem;
    padding: 6.4rem;
  }

  main div:nth-child(1) {
    grid-area: A;
  }

  main div:nth-child(2) {
    grid-area: B;
  }

  main div:nth-child(3) {
    grid-area: C;
  }

  main div:nth-child(4) {
    grid-area: D;
  }

  main div:nth-child(5) {
    grid-area: E;
  }

  main div:nth-child(6) {
    grid-area: F;
  }

  .card {
    overflow: hidden;
    border-radius: 2rem;
  }

  .card-sm {
    width: 32rem;
    height: 25rem;
  }

  .card-bg {
    width: 32rem;
    height: 45rem;
  }

  .card img {
    transition: 250ms;
  }

  .card img:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

 

  footer {
    font-family: "Open Sans";
    font-size: 1.4rem;
    line-height: 2.8rem;
    text-align: center;
    color: #4a4e69;
    display: contents;
  }

  .willhide {
    display: block;
  }

  footer a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }
}
